.header {
    margin-bottom: 24px;

    > .companyName {
        opacity: 0.64;
        font-size: 48px;
        font-weight: 600;
        user-select: none;
        transition: font-weight 600ms var(--entry-delay, 0ms);

        @starting-style {
            font-weight: 900;
        }
    }
}
