.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    max-width: 1280px;

    > .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        > .about {
            display: flex;
            flex-direction: column;
            min-height: 40svh;
            padding: 8svw;
            filter: drop-shadow(0px 0px 12px light-dark(white, black));
        }
    }
}
