div.uiDelayedAppearance {
    animation: delayedAppear var(--entry-delay, 0ms) 1s var(--transition-easing) backwards;
}

@keyframes delayedAppear {
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
