:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--background-color);
    color: var(--text-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --transition-easing: cubic-bezier(0.4, 0.0, 0.2, 1);
}

:root {
    --background-color: light-dark(#ffffff, #080808);
    --text-color: light-dark(#242424, #eeeeee);

    --project-link-color: var(--text-color);

    --button-background-color: light-dark(rgba(255 255 255 / 64%), rgba(255 255 255 / 8%));
    --button-hover-border-color: light-dark(#646cff, #646cff);

    --link-color: light-dark(#646cff, #646cff);
    --link-hover-color: light-dark(#747bff, #535bf2);
}

#root {
    margin: 0 auto;
    text-align: start;
    --padding: 16px;
    width: 100%;
    min-height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    --safe-top: env(safe-area-inset-top, 0px);
    --safe-right: env(safe-area-inset-right, 0px);
    --safe-bottom: env(safe-area-inset-bottom, 0px);
    --safe-left: env(safe-area-inset-left, 0px);
    padding: calc(var(--safe-top) + var(--padding)) calc(var(--safe-right) + var(--padding)) calc(var(--safe-bottom) + var(--padding)) calc(var(--safe-left) + var(--padding));
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100svh;
}

a {
    font-weight: 500;
    color: var(--link-color);
    text-decoration: inherit;

    &:hover {
        color: var(--link-hover-color);
    }
}

code {
    background-color: color-mix(in srgb, currentColor, transparent 84%);
    padding: 0.1em 0.3em;
    border-radius: 0.4em;
    font-size: 1.2em;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--button-background-color);
    cursor: pointer;
    transition: border-color 0.3s var(--transition-easing), opacity 0.3s var(--transition-easing);
    color: var(--text-color);
    fill: var(--text-color);

    &[disabled] {
        opacity: 0.52;
        pointer-events: none;
    }

    &:hover,
    &:focus,
    &:focus-visible {
        border-color: var(--button-hover-border-color);
    }
}

